{{#section 'links'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
{{/section}}

<!-- body: -->
<div class="add-task hidden">
	<h1>Add Task</h1>
	<form class="add-task-form" action="/add-task" method="post">
		<label>
			Title
			<input type="text" class="add-task-form-title-input" name="title" autofocus="true">
		</label>
		<label>
			Start
			<input type="date" class="add-task-form-start-date-input" name="start-date">
		</label>
		<input type="time" class="add-task-form-start-time-input" name="start-time">
		<label>
			End
			<input type="date" class="add-task-form-end-date-input" name="end-date">
		</label>
		<input type="time" class="add-task-form-end-time-input" name="end-time">
		<input type="submit" value="Done">
	</form>
</div>