{{#addLink}}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>{{/addLink}}
{{#addLink}}<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>{{/addLink}}
{{#addLink}}<link rel="stylesheet" type="text/css" href="css/add-task.css">{{/addLink}}

<!-- body: -->
<div class="add-task">
	<h1>Add Task</h1>
	<div class="add-task-editor">
		{{> task-editor }}
	</div>
</div>