{{#addLink}}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>{{/addLink}}
{{#addLink}}<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>{{/addLink}}

<!-- body: -->
<div class="edit-deadline">
	<h1>Edit Deadline</h1>
	<div class="edit-deadline-editor">
		{{> deadline-editor }}
	</div>
</div>