{{#addLink}}<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>{{/addLink}}
{{#addLink}}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>{{/addLink}}
{{#addLink}}<link rel="stylesheet" type="text/css" href="css/index.css">{{/addLink}}

<!-- body: -->
<div class="index">
    <h3 class="index-name-heading">Loading...</h3>
    <h2 class="index-date-heading">Loading...</h2>
    <div class="index-error-container hidden">
    </div>
    <div class="index-taskdeadline-container">
        <div class="index-task-container">
            <h4>Tasks</h4>
            <div class="index-task-list">
                <ul>
                </ul>
            </div>
        </div>
        <div class="index-deadline-container">
            <h4>Deadlines</h4>
            <div class="index-deadline-list">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>