{{#addLink}}<link rel="stylesheet" type="text/css" href="/css/nav.css">{{/addLink}}

<!-- body: -->
<div class="nav">
    <div class="nav-pull-header">
        <a class="nav-pull-header-link"></a>
    </div>
    <nav>
        <ul>
            <li class="nav-grtdm-button"><a>Home</a></li>
            <li class="nav-add-task-button"><a>Add Task</a></li>
            <li class="nav-add-deadline-button"><a>Add Deadline</a></li>
            <li class="nav-calendar-button"><a>Calendar</a></li>
            <li class="nav-logout-button"><a>Log out</a></li>
        </ul>
    </nav>
    <div class="nav-top-space"></div>
</div>