{{#section 'links'}}
<link rel="stylesheet" type="text/css" href="css/nav.css">
{{/section}}

<!-- body: -->
<div class="nav">
    <div class="nav-pull">
        <a href="#" class="nav-pull-link"></a>
    </div>
    <nav>
        <!-- Comments at beginning and end of the following li elements are
             used to align nav items. -->
        <ul>
            <li class="nav-scheduler-button"><a href="#">Scheduler</a></li><!--
         --><li class="nav-tasks-button"><a href="#">Tasks</a></li><!--
         --><li class="nav-deadlines-button"><a href="#">Deadlines</a></li><!--
         --><li class="nav-calendar-button"><a href="#">Calendar</a></li><!--
         --><li class="nav-settings-button"><a href="#">Settings</a></li><!--
         --><li class="nav-logout-button"><a href="#">Log out</a></li>
        </ul>
    </nav>
    <div class="nav-top-space"></div>
</div>