<div id="nav-pull">
    <a href="#" id="pull"></a>
</div>
<nav>
	<!-- Comments at beginning and end of the following li elements are
	     used to align navbar items. -->
    <ul>
        <li id="scheduler"><a href="#">Scheduler</a></li><!--
     --><li id="tasks"><a href="#">Tasks</a></li><!--
     --><li id="deadlines"><a href="#">Deadlines</a></li><!--
     --><li id="calendar"><a href="#">Calendar</a></li><!--
     --><li id="settings"><a href="#">Settings</a></li><!--
     --><li id="logout"><a href="#">Log out</a></li>
    </ul>
</nav>
<div id="top-space"></div>
<link rel="stylesheet" type="text/css" href="css/nav.css">
<script src="js/nav.js"></script>