<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task/Deadline Manager - by Goutham Rajeev</title>
</head>
<body>
    {{> navbar }}
    <h3>Hello Bob</h3>
    <h2>May 6th, 2016</h2>
    <div id="taskdeadline-container">
        <div id="task-container">
            <h4>Tasks</h4>
            <ul>
                <p class="loading">Loading...</p>
            </ul>
        </div>
        <div id="deadline-container">
            <h4>Deadlines</h4>
            <ul>
                <p class="loading">Loading...</p>
            </ul>
        </div>
    </div>
<script src="js/bundle.js"></script>
</body>
</html>