{{#section 'links'}}
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/global.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
{{/section}}

<!-- body: -->
{{> navbar }}
<h3>Hello Bob</h3>
<h2>May 6th, 2016</h2>
<div id="error-container" class="hidden">
</div>
<div id="taskdeadline-container">
    <div id="task-container">
        <h4>Tasks</h4>
        <div id="task-list">
            <ul>
                <p class="loading">Loading...</p>
            </ul>
        </div>
        <a href="#">Add</a>
    </div>
    <div id="deadline-container">
        <h4>Deadlines</h4>
        <div id="deadline-list">
            <ul>
                <p class="loading">Loading...</p>
            </ul>
        </div>
        <a href="#">Add</a>
        <p>
    </div>
</div>
<script src="js/index-bundle.js"></script>