{{#addLink}}<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>{{/addLink}}
{{#addLink}}<link rel="stylesheet" type="text/css" href="/css/landing.css">{{/addLink}}
{{#addLink}}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>{{/addLink}}

<!-- body: -->
<div class="landing">
    <div class="landing-main">
        <h1 class="landing-main-logo">GR-TDM</h1>
        <h2 class="landing-main-subtitle">Goutham R's Task and Deadline Manager</h2>
        <a class="landing-main-google-signin" tabindex="0"></a> {{!-- need tabindex to make element tabbable. <a> without href are not otherwise tabbable. --}}
    </div>
    <div class="landing-info">
        <p class="landing-info-text">Front end written with TypeScript, jQuery, Handlebars, HTML, and CSS.</p>
        <p class="landing-info-text">Back end written with JavaScript, Node.js, Express, and MongoDB.</p>
        <a class="landing-info-view-github" href="https://github.com/GouthamR/TaskDeadlineManager">
            <img src="/img/GitHub-Mark-64px.png" alt="GitHub Logo">
            <p>View on GitHub</p>
        </a>
    </div>
</div>
<div hidden id="synchronizer-token-div">{{synchronizerToken}}</div>
{{!-- No modules in landing-bundle.js, so SystemJS not required. Uncomment SystemJS code if multiple modules in landing-bundle.js . --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.19/system-production.js" integrity="sha256-hK82DZVd/r46W9ckSgpLzzCQgB3bDM1XBgAHovX6FHI=" crossorigin="anonymous"></script> --}}
<script src="/js/landing-bundle.js"></script>
{{!-- <script>
	SystemJS.import("landing");
</script> --}}