{{#section 'links'}}
<link rel="stylesheet" type="text/css" href="css/main.css">
{{/section}}

<!-- body: -->
<div class="main-nav">
	{{> nav }}
</div>
<div class="main-index">
	{{> index }}
</div>
<div class="main-add-task">
	{{> add-task }}
</div>
<script src="js/main-bundle.js"></script>