{{#section 'links'}}
<link rel="stylesheet" type="text/css" href="css/main.css">
{{/section}}

<!-- body: -->
<div class="main-nav">
	{{> nav }}
</div>
<div class="main-index">
	{{> index }}
</div>
<div class="main-add-task">
	{{> add-task }}
</div>
<div class="main-edit-task">
	{{> edit-task }}
</div>
<div class="main-add-deadline">
	{{> add-deadline }}
</div>
<div class="main-edit-deadline">
	{{> edit-deadline }}
</div>
<div class="main-calendar">
	{{> calendar }}
</div>
<script src="js/handlebars-templates.js"></script>
<script src="js/main-bundle.js"></script>