/* ============================ RESET ============================ */

.index div, .index h1, .index h2, .index h3, .index h4, .index h5, .index h6,
.index p, .index a, .index img, .index ol, .index ul, .index li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.index ol, .index ul {
    list-style: none;
}
.index table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================== END RESET ========================== */

.index .index-error-container {
    background-color: #FFB6C1;
    text-align: center;
    padding: 1em;
}

.index .index-taskdeadline-container {
    background-color: white;
    border: solid #1a6fe6 .15em;
    height: calc(100vh - 8em);
    min-height: 27em;
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.index .index-taskdeadline-container > div {
    background-color: #ebf0f3;
    flex: 0 0 calc(50% - 2em);
    height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    padding: .25em;
}

.index .index-taskdeadline-container > div > div {
    overflow-y: scroll;
    margin-bottom: 1em;
}

.index .index-taskdeadline-container > div > h4 {
    text-align: center;
    color: #1a6fe6;
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

.index .index-taskdeadline-container li {
    position: relative; /*for positioning img icons relative to this*/
    display: block;
    width: 90%;
    line-height: 2em;
    margin: 5% 5%;
    background-color: white;
    color: #0F51AD;
    text-align: center;
    border: solid darkgray .1em;
}

.index .index-taskdeadline-container li:first-child {
    margin-top: 0;
}

.index .index-taskdeadline-container li:last-child {
    margin-bottom: 0;
}

.index .index-taskdeadline-container li p:first-child {
    font-size: 1.5em;
}

.index .index-taskdeadline-container li p:nth-child(2) {
    display: inline;
    font-size: 1em;
}

.index .index-taskdeadline-container li img {
    position: absolute;
    width: 2em;
    height: 2em;
    /* vertically center element: */
    top: 50%;
    margin-top: -1em; /*half of height*/
}

.index .td-check {
    cursor: pointer;
    /* horizontally center element in allotted space */
    right: 10%;
    margin-right: -1em; /*half of width*/
}

.index .td-settings {
    cursor: pointer;
    /* horizontally center element in allotted space */
    left: 10%;
    margin-left: -1em; /*half of width*/
}

.index .item-middle {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.index .item-title {
    cursor: pointer;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .index .index-taskdeadline-container {
        height: calc(200vh - 8em);
        flex-direction: column;
    }

    .index .index-taskdeadline-container > div {
        width: calc(100% - 2em);
    }
}