/* ============================ RESET ============================ */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, p {
    margin: 0;
}

/* ========================== END RESET ========================== */

body {
    background-color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
}

.landing-main {
    background-color: #0F51AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.landing-main-logo, .landing-main-subtitle {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.landing-main-logo {
    font-size: 6em;
}

.landing-main-subtitle {
    font-size: 2em;
}

.landing-main-google-signin {
    flex: 1 1 calc(.65 * 92px);
    width: calc(.65 * 382px);
    background-image: url("../img/btn_google_signin_light_sprite_web@2x.png");
    background-position: calc(.65 * -10px) calc(.65 * -102px);
    background-size: calc(.65 * 402px) calc(.65 * 306px);
    text-decoration: none;
}

.landing-main-google-signin:hover {
    background-position: calc(.65 * -10px) calc(.65 * -0px);
    cursor: pointer;
}

.landing-main-google-signin:active {
    background-position: calc(.65 * -10px) calc(.65 * -204px);
}

.landing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.landing-info-text {
    font-size: 1.4em;
    margin: 0.5rem 0;
    text-align: center;
}

.landing-info-view-github {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: white;
    border-radius: 0.25rem;
}

.landing-info-view-github:hover {
    outline: 2px solid lightblue;
}    

.landing-info-view-github > img {
    flex: 0 0 24px;
    height: 24px;
}

.landing-info-view-github > p {
    font-size: 1.25em;
    margin-left: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .landing-main {
        padding: 1.5rem 1rem;
    }

    .landing-main-logo, .landing-main-subtitle {
        margin-bottom: 1rem;
    }
    
    .landing-main-logo {
        font-size: 4em;
    }
    
    .landing-main-subtitle {
        font-size: 1.5em;
    }

    .landing-main-google-signin {
        flex: 1 1 calc(.5 * 92px);
        width: calc(.5 * 382px);
        background-position: calc(.5 * -10px) calc(.5 * -102px);
        background-size: calc(.5 * 402px) calc(.5 * 306px);
    }
    
    .landing-main-google-signin:hover {
        background-position: calc(.5 * -10px) calc(.5 * -0px);
    }
    
    .landing-main-google-signin:active {
        background-position: calc(.5 * -10px) calc(.5 * -204px);
    }
    
    .landing-info {
        padding: 0.5rem 1rem;
    }

    .landing-info-text {
        font-size: 1em;
        margin: 0.25rem 0;
}

    .landing-info-view-github {
        padding: 0.5rem;
        margin-top: .5rem;
    }

    .landing-info-view-github > img {
        flex: 0 0 20px;
        height: 20px;
    }

    .landing-info-view-github > p {
        font-size: .75em;
    }
}