/* ============================ RESET ============================ */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}

/* ========================== END RESET ========================== */

body {
    background-color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;
}

.hidden {
	display: none;
}