/* ============================ RESET ============================ */

.nav div, .nav h1, .nav h2, .nav h3, .nav h4, .nav h5, .nav h6, 
.nav p, .nav a, .nav img, .nav ol, .nav ul, .nav li, .nav nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.nav nav {
    display: block;
}
.nav ol, .nav ul {
    list-style: none;
}

/* ========================== END RESET ========================== */

.nav nav {
    position: fixed;
    z-index: 1000; /* needs to be high enough to be above third-party z-indices */
    width: 100%;
    background-color: #0F51AD;
}

.nav nav ul li {
    display: inline-block;
    /*height and line height must be equal for vertical alignment:*/
    height: 3.5em;
    line-height: 3.5em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.nav nav ul li a {
    color: white;
    text-decoration: none;
}

.nav .nav-scheduler-button a {
    font-size: 2.5em;
}

.nav .nav-scheduler-button {
    width: 17%;
}

.nav .nav-tasks-button {
    margin-left: 8%;
}

.nav .nav-tasks-button, .nav .nav-deadlines-button, .nav .nav-calendar-button {
    width: 16.667%;
}

.nav .nav-tasks-button a, .nav .nav-deadlines-button a, .nav .nav-calendar-button a {
    font-size: 1.7em;
}

.nav .nav-settings-button {
    margin-left: 2%;
}

.nav .nav-logout-button {
    margin-left: 3%;
}

.nav .nav-settings-button, .nav .nav-logout-button {
    width: 10%;
}

.nav .nav-settings-button a, .nav .nav-logout-button a{
    font-size: 1.5em;
}

.nav nav ul li:hover {
    background-color: #5781bc;
}

.nav nav ul li a:hover {
    color: white;
}

.nav .nav-pull-link {
    display: none;
}

.nav .nav-top-space {
    width: 100%;
    height: 3.5em;
}

@media (max-width: 768px) {
    .nav nav {
        position: fixed;
        display: inline-block;
        width: 15em;
        height: 100%;
        left:-15em;
    }

    .nav nav:before {
        content: "";
        height: 3.5em;
        width: 100%;
        display: inline-block;
    }

    .nav nav ul li {
        display: block;
        width: 15em;
        text-align: left;
    }

    /* need to explicitly specify individually to override individual selectors above: */
    .nav .nav-scheduler-button, .nav .nav-tasks-button, .nav .nav-deadlines-button, 
    .nav .nav-calendar-button, .nav .nav-settings-button, .nav .nav-logout-button {
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        margin-left: 0;
        font-size: 1em;
    }

    .nav .nav-pull-link {
        position: fixed;
        z-index: 2000; /* needs to be high enough to be above third-party z-indices */
        background-color: #0F51AD;
        display: block;
        height: 3.5em;
        width: 100%;
    }

    .nav .nav-pull-link:after {
        content: "";
        background: url('../img/nav-ham.png') no-repeat;
        background-size: 3.5em 3em;
        width: 3.5em;
        height: 3em;
        margin-top: .25em;
        margin-left: .25em;
        display: inline-block;
    }

    @media (max-height: 25em) {
        .nav nav {
            overflow: scroll;
        }
    }
}