nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #0F51AD;
}

nav ul li {
    display: inline-block;
    /*height and line height must be equal for vertical alignment:*/
    height: 3.5em;
    line-height: 3.5em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.nav-scheduler-button a {
    font-size: 2.5em;
}

.nav-scheduler-button {
    width: 17%;
}

.nav-tasks-button {
    margin-left: 8%;
}

.nav-tasks-button, .nav-deadlines-button, .nav-calendar-button {
    width: 16.667%;
}

.nav-tasks-button a, .nav-deadlines-button a, .nav-calendar-button a {
    font-size: 1.7em;
}

.nav-settings-button {
    margin-left: 5%;
}

.nav-settings-button, .nav-logout-button {
    width: 10%;
}

.nav-settings-button a, .nav-logout-button a{
    font-size: 1.5em;
}

nav ul li:hover {
    background-color: #5781bc;
}

nav ul li a:hover {
    color: white;
}

.nav-pull-link {
    display: none;
}

#top-space {
    width: 100%;
    height: 3.5em;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        z-index: 1;
        display: inline-block;
        width: 15em;
        height: 100%;
        left:-15em;
    }

    nav:before {
        content: "";
        height: 3.5em;
        width: 100%;
        display: inline-block;
    }

    nav ul li {
        display: block;
        width: 15em;
        text-align: left;
    }

    .nav-scheduler-button, .nav-tasks-button, .nav-deadlines-button, .nav-calendar-button, .nav-settings-button, .nav-logout-button {
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        margin-left: 0;
        font-size: 1em;
    }

    .nav-pull-link {
        position: fixed;
        z-index: 2;
        background-color: #0F51AD;
        display: block;
        height: 3.5em;
        width: 100%;
    }

    .nav-pull-link:after {
        content: "";
        background: url('../img/nav-ham.png') no-repeat;
        background-size: 3.5em 3em;
        width: 3.5em;
        height: 3em;
        margin-top: .25em;
        margin-left: .25em;
        display: inline-block;
    }

    @media (max-height: 25em) {
        nav {
            overflow: scroll;
        }
    }
}