/* ============================ RESET ============================ */

.task-editor div, .task-editor h1, .task-editor h2, .task-editor h3, .task-editor h4, .task-editor h5, .task-editor h6, 
.task-editor p, .task-editor a, .task-editor img, .task-editor ol, .task-editor ul, .task-editor li, .task-editor nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ========================== END RESET ========================== */

.task-editor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-editor .task-editor-form {
    display: grid;
    grid-template-columns: 2.5em 10em 6em;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-gap: .3em .2em;
    justify-items: stretch;
    align-items: stretch;
    border: solid #1a6fe6 .15em;
    background-color: #ebf0f3;
    padding: 1em 2em;
}

.task-editor label {
    text-align: center;
    align-self: center;
}

.task-editor textarea, .task-editor input {
    font-family: 'Open Sans', sans-serif;    
}

.task-editor .task-editor-form-title-label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.task-editor .task-editor-form-title-input {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    resize: none;
}

.task-editor .task-editor-form-start-date-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.task-editor .task-editor-form-start-date-input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.task-editor .task-editor-form-start-time-input {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.task-editor .task-editor-form-end-date-label {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.task-editor .task-editor-form-end-date-input {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.task-editor .task-editor-form-end-time-input {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.task-editor .task-editor-form-submit-button {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    justify-self: center;
    width: 6em;
    height: 2em;
    background-color: #0F51AD;
    color: white;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}